.account {
  padding: 26px 26px 8px;
  color: $textBlack;

  @include onTablet {
    padding: 53px;
  }

  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 60% 1fr;
  }

  &__info {
    // &-title {
    //   font-size: 22px;
    //   font-weight: 400;
    //   line-height: 25.85px;
    //   margin-bottom: 6px;

    //   @include onTablet {
    //     font-size: 45.47px;
    //     line-height: 53.42px;
    //   }
    // }

    // &-value {
    //   font-size: 17px;
    //   font-weight: 400;
    //   line-height: 19.98px;
    //   margin-bottom: 12px;

    //   @include onTablet {
    //     font-size: 35.13px;
    //     line-height: 41.28px;
    //   }
    // }
  }

  &__managment {
    &-img {
      width: 100%;
      margin-bottom: 14px;
    }

    &-btn {
      width: 100%;
      margin-bottom: 14px;
    }
  }

  &__edit {
    display: block;
    margin: 0 auto;
  }

  &__buttons {
    padding-bottom: 16px;
  }
}
