.offers {
  position: relative;
  margin: 0 8px 8px 8px;
  overflow-x: scroll;

  @include onTablet {
    margin: 0 16px 16px 16px;
  }

  @include onDesktop {
    overflow-x: initial;
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto 8px auto;
    border-radius: 20px;
    align-items: center;

  }

  &--balance {
    @include onDesktop {
      background-color: $bg;
      padding: 0;
    }
  }

  &__scroll {
    display: flex;
    gap: 20px;

    @include onDesktop {
      display: block;
    }
  }

  &__container {
    padding: 18px;
    color: $textBlack;
    background-color: $bg;
    @extend %shadow;
    width: calc(100vw - 16px);
    flex-shrink: 0;
    box-sizing: border-box;
    // position: relative;
    height: min-content;

    @include onTablet {
      padding: 32px;
      width: calc(100vw - 32px);
    }

    @include onDesktop {
      display: grid;
      grid-template-columns: 0.7fr 3fr 2fr 2.3fr 1.2fr 1fr 1fr 1.8fr;
      border-radius: 20px;
      align-items: center;
      gap: 10px;
      padding: 8px 25px;
      margin-bottom: 8px;
      width: 100%;

      &--active {
        background: $main;

        .page__label,
        .offers__value,
        .offers__value-subtitle,
        .page__value {
          color: $textWhite;
        }

        .offers__label-payout {
          color: $textBlack;
          background-color: $textWhite;
        }

        .icon__downWhite--payout {
          stroke: $textBlack;
        }
      }
    }

    &--chanels {
      max-width: initial;
      @include onDesktop {
        grid-template-columns: 1fr 2.5fr 2fr 2fr 1fr 1fr 1fr 1fr;
      }
    }
  }

  &--chanels {
    margin-bottom: 15px;

    @include onTablet {
      margin-bottom: 30px;
    }

    @include onDesktop {
      padding: 0;
      // margin: 0;
    }
  }

  &__head {
    display: none;

    @include onDesktop {
      display: grid;
      background: $main;
      margin-bottom: 30px;
      padding: 32px;
      gap: 0;

      &>* {
        color: $textWhite;
      }
    }

    &-label {
      margin: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin: 0;
    }

    &-title {
      position: relative;
      margin: 0;

      &--white {
        color: $textWhite;
      }
    }

    &-settings {
      display: flex;
      align-items: center;
      gap: 20px;

      @include onTablet {
        gap: 40px;
      }

      @include onDesktop {
        gap: initial;
        justify-content: space-between;
      }

      &--profile {
        @include onDesktop {
          width: 8%;
          right: 30px;
          justify-content: space-between;
          gap: initial;
        }
      }

      &--mobile {
        @include onDesktop {
          display: none;
        }
      }
    }
  }

  &__wrapper {
    &--balance {
      &:first-child {
        order: 1;
      }

      &:nth-child(n + 5) {
        order: 2;
      }
    }
  }

  &__wrapper>div,
  &__wrapper>span {
    @include onDesktop {
      &:first-child {
        display: none;
      }
    }
  }

  &__wrapper>span {
    @include onDesktop {
      &:nth-of-type(2) {
        display: none;
      }
    }
  }

  &__label {
    width: max-content;
    margin: 0;

    &-payout {
      display: none;
      @extend %shadow;
      position: relative;

      @include onDesktop {
        display: block;
        padding: 10px 12px;
        background-color: $payout;
        width: min-content;
        font-size: 16px;
        line-height: 18.8px;
        color: $textWhite;
        margin: 0 auto;
      }

      &--chanels {
        @include onDesktop {
          margin: 0;
        }
      }

    }
  }

  &__value {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      margin: 0;
      width: max-content;
      text-align: right;
    }

    &-subtitle {
      font-size: 12px;
      font-weight: 400;
      line-height: 14.1px;

      @include onTablet {
        font-size: 24px;
      }

      @include onDesktop {
        font-size: 10px;
      }
    }

    &--chanels {
      margin-bottom: 14px;

      @include onDesktop {
        margin-bottom: 0;
      }
    }

    &-subtitle {
      margin-bottom: 14px;

      @include onDesktop {
        margin-bottom: 0;
      }
    }

    &--creators {
      margin-bottom: 0;

      @include onDesktop {
        font-size: 16px;
      }
    }
  }


  &--chanels {
    margin-top: 8px;
    padding-bottom: 1px;

    @include onTablet {
      margin-bottom: 30px;
    }
  }

  &__logo {
    margin-bottom: 6px;

    @include onTablet {
      width: 112px;
      margin-bottom: 14px;
    }

    @include onDesktop {
      width: 36px;
      margin-bottom: 0;
    }
  }
}
