@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.icon {
  width: 20px;

  &__button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
  }
}

.button {
  color: #fff;
  background: linear-gradient(90deg, #70A9FF 0%, #316EC9 57%, #0149B4 100%);
  box-shadow: 0px 4px 20px 0px #00000040;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-style: normal;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.8px;

  &--light {
    font-family: "DM Sans", sans-serif;
    color: #000;
    background: #F1F4FF;
    padding: 6px 10px;
    border-radius: 13px;
    font-weight: 500;
    line-height: 32px;
  }

  &--active {
    background: #092145;
  }

  &--cancel {
    background: #A3AED0;
    padding: 10px 22px;
  }

  &__status {
    padding: 5px 20px;
    background: #D8E1FF;
    color: #2E65F3;
    box-shadow: none;

    &--complete {
      background-color: #DDE4BA;
      color: #0FAF62;
    }
  }

  &--card {
    padding: 15px 20px;
    border-radius: 20px;
    margin: 0 14px 10px 0;
  }

  &--add {
    position: absolute;
    right: 21px;
  }
}

.page {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  color: #FFFFFF;
  position: relative;
  min-height: calc(100vh - 46px);
  padding-bottom: 46px;
  min-width: 320px;

  &__body {
    margin: 0;

    &--with-menu {
      overflow: hidden;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 12px 8px;

    &-container {
      display: flex;
      align-items: center;
    }
  }

  &__regular {
    //styleName: H6 (public);
    font-family: "Public Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.45px;
    text-align: left;

    @include onTablet {
      line-height: 18.8px;
      font-size: 16px;
    }

    @include onDesktop {
      font-size: 20px;
      line-height: 23.5px;
    }
  }

  &__title {
    display: flex;
    padding: 20px 0;
    background: $main;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

    &-h5 {
      font-size: 16px;
      font-weight: 400;
      line-height: 18.8px;
      text-align: left;
      margin: 0;
    }
  }

  &__label {
    font-size: 22px;
    font-weight: 400;
    line-height: 25.85px;
    margin-bottom: 6px;
    color: $textBlack;

    @include onTablet {
      font-size: 45.47px;
      line-height: 53.42px;
    }
  }

  &__value {
    font-size: 17px;
    font-weight: 400;
    line-height: 19.98px;
    margin-bottom: 12px;
    color: $textBlack;

    @include onTablet {
      font-size: 35.13px;
      line-height: 41.28px;
    }
  }

  &__arrow {
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &-prev {
      left: 0;
      transform: rotateY(180deg) translateY(-50%);
    }

    &-next {
      right: 0;
    }
  }
}

.info {
  font-family: "DM Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 22px;

  &__container {
    overflow: hidden;
    position: relative;
    padding: 12px;
    border-radius: 10px;
    background-color: $bg;
    color: #000;

    &::after {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 3.5px;
      content: '';
      background-color: #FF0000;
      border-bottom: 10px;
    }

    &:nth-child(2) {
      &::after {
        background-color: #FFD600;
      }
    }

    &:nth-child(3) {
      &::after {
        background-color: #0FB600;
      }
    }

    &:nth-child(4) {
      &::after {
        background-color: #9E00FF;
      }
    }

    &:nth-child(5) {
      &::after {
        background-color: #144C9F;
      }
    }
  }

  &__title {
    color: #434343;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.02em;
    margin: 0;
  }

  &__value {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin: 0;
  }
}

.shadow {
  transform: translateX(-100%);
  transition: all $duration;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.3;
}
