.support {
  display: flex;
  flex-direction: column;
  color: $textBlack;
  padding: 8px;
  gap: 12px;

  @include onTablet {
    padding: 16px;
    gap: 24px;
  }

  &__p {
    font-size: 22px;
    font-weight: 400;
    background-color: $bg;
    padding: 18px 18px 0px 18px;
    border-radius: 20px;

    @include onTablet {
      padding: 36px 36px 0px 36px;
      border-radius: 40px;
      font-size: 46px;
    }

    &-button {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__form {
    position: static;
    transform: none;
    margin: 0;
  }

  &__input--message {
    height: 144px;

    @include onTablet {
      height: 300px;
    }
  }

}
