.users {
  margin: 8px;
  padding: 0 0 14px;

  &--open {
    background-color: $detailBG;
  }

  &__brand {
    padding: 18px;
  }

  &__top {
    margin-bottom: 0;

    &-title {
      margin-bottom: 6px;
    }
  }

  &__value {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__info {
    padding: 0 4px;
    margin-bottom: 6px;

    &-icon {
      position: absolute;
      right: 11px;
      bottom: 12px;
    }
  }

  &__payments {
    padding: 14px;
    margin: 0 4px 14px;
    @extend %shadow;
    background-color: $bg;
    transition: all $duration;

    &-top {
      display: flex;
      justify-content: space-between;
    }

    &-roll {
      margin-top: 15px;
      display: none;
      transition: transform $duration;

      &--balance {
        display: block;
        margin-top: 20px;
      }
    }

    &-title {
      margin: 0;
      display: flex;
      align-items: center;
    }

    &-buttons {
      display: flex;
      gap: 10px;
    }

    &-value {
      margin-bottom: 20px;
    }

    &-status {
      display: flex;
      justify-content: space-between;

      &--label {
        margin-bottom: 0;
        line-height: 26px;
      }
    }
    &--balance {
      margin: 8px;
      position: relative;
    }
  }

  &__cards {
    padding: 0 4px;
  }

  &__roll {
    display: block;
    padding: 10px 40px 10px 40px;
    margin: 0 auto;
  }
}
