$bg: #F1F4FF;
$black: #121212;
$textBlack: #000;
$textWhite: #fff;
$grey: #A3AED0;
$main: linear-gradient(180deg, #70A9FF 0%, #0149B4 100%, #316EC9 100%);

$detailBG: #71A9FF;


$accent: rgba(139, 87, 194, 1);
$gradient: linear-gradient(139.09deg, #362536 10.76%, #121212 43.45%);
$white: #fff;
$green: #1a5a4c;

$orange: #f14a27;
$backgound: #fff;
$menuBackgound: #e5e5e5;

$duration: 0.3s;


